In [1]:
import sys
import os

In [2]:
src_dir = os.path.abspath(os.path.join(os.getcwd(),os.pardir,'src'))
if src_dir not in sys.path:
    sys.path.append(src_dir)

In [3]:
from orchestrator import orchestrate

c:\Users\negra\mymlprojects\loka\src\orchestrator.py:18: SyntaxWarning: invalid escape sequence '\.'
  model = joblib.load(".\..\models\decision_tree_classifier_small.joblib")

Test QA task

In [4]:
query = "Tell me how many procedures Jane Smith has been submitted to"
answer = orchestrate(query)
answer

'Based on the information provided in the context, Jane Smith has undergone the following procedures:\n\n1. From document [2] (s3://lneg-loka/unique_diagnosis-docs/medical_document_246.md), Jane Smith underwent a laparoscopic appendectomy for acute appendicitis.\n\n2. From document [3] (s3://lneg-loka/unique_diagnosis-docs/medical_document_1012.md), Jane Smith underwent a laparoscopic appendectomy for acute appendicitis.\n\nSo according to the given context, Jane Smith has been submitted to at least two laparoscopic appendectomy procedures.'

Test prediction task

In [5]:
query = "What's the class of Chronic Obstructive Pulmonary Disease for a 65 year old man with a body-mass index of 40% and an active smoker"
answer = orchestrate(query)
answer

"Unfortunately, I do not have enough information in the given context to determine the class of Chronic Obstructive Pulmonary Disease (COPD) for a 65-year-old man with a body mass index of 40% and an active smoker. The provided documents do not contain details about COPD classification or staging criteria. Without access to relevant medical guidelines or the patient's specific clinical data, I cannot provide an accurate assessment of the COPD class."

Test database query task

In [6]:
query = "How many urban men older than 40 and bmi lower than 20 are there?"
answer = orchestrate(query)
answer

  count
0     0